body {
  background-image: url("fondo.png");
  background-position: 50% 60%;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 20px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 18vw;
  line-height: 18vw;
  text-shadow: 1px 1px 0 #ffffff;
  font-weight: 400;
  color: #000000;
}

@media (max-width: 420px) {
  h1 {
    font-size: 22vw;
  }
}

#entradas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

article {
  background-color: #ffffff;
  max-width: 360px;
  margin: 30px 20px;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: -10px -10px 0px 0px rgba(154,211,241,0.5);
  box-shadow: -10px -10px 0px 0px rgba(154,211,241,0.5);
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-size: 32px;
  margin: 0 0 10px 0;
  font-weight: 700;
}

p {
  font-size: 24px;
}

time {
  float: right;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 10px 0 15px 0;
  padding: 0;
}

ul li {
  margin: 6px 0;
}

ul li a {
  font-size: 24px;
  font-weight: 700;
  color: #34A9E3;
}

ul li a:hover {
  cursor: pointer;
  color: #FFA500;
}

i {
  font-size: 20px !important;
}