body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #2562A5, rgba(37,98,165,0.5)), url("/img/fondo.svg");
  background-size: 100%, 100vw;
}

header {
  margin: 5px auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 34vw;
  max-width: 395px;
  filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
}

h1 {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 18vw;
  text-shadow: 1px 1px 0 #ffffff;
  font-weight: 400;
  color: #000000;
}

#entradas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

article {
  background-color: #ffffff;
  margin: 30px 20px;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: -10px -10px 0px 0px #5F9BCB;
  box-shadow: -10px -10px 0px 0px #5F9BCB;
}

article p {
  margin: 20px auto 5px auto;
}

h2 {
  font-size: 32px;
  margin: 0 0 10px 0;
  font-weight: 700;
}

.cursiva {
  font-family: 'Dancing Script', cursive;
}

.cursiva p {
  font-size: 24px;
}

@media (max-width: 400px) {
  article {
    margin: 20px 5px 20px 10px;
    padding: 10px;
}
  .cursiva p {
    font-size: 22px;
  }
}